In [37]:
from datetime import date
import numpy as np
import sqlite3 as sql

In [41]:
box = np.array([])

In [4]:
array = []

In [25]:
box2 = np.append (['14.06.22'])

TypeError: _append_dispatcher() missing 1 required positional argument: 'values'

In [38]:
con = sql.connect("timetrack")

In [39]:
cur = con.cursor()
cur.execute("""create table timetrack3(
            key integer primary key,
            date varchar null,
            checkin_time varchar null,
            checkout_time varchar null);""")
#cur.execute("insert into timetrack values ('14.06.2022', )")

In [40]:
con = sql.connect("timetrack")
cur = con.cursor()

In [48]:
arg1 = 15
arg2 = date.today().strftime('%Y/%m/%d')
print(arg2)

2022/06/15

In [49]:
cur.execute("insert into timetrack3 values ({}, '{}', '22:00', '19:00')".format(arg1, arg2))
con.commit()

In [52]:
con.commit()
cur.close()

In [43]:
for row in cur.execute("select * from timetrack3"):
    print(row)

(13, '22', '22:00', '19:00')

In [50]:
con.execute("""
    select * from timetrack3
""").fetchall()

[(13, '22', '22:00', '19:00'),
 (14, '2022/06/15', '22:00', '19:00'),
 (15, '2022/06/15', '22:00', '19:00')]